.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebf0f8;
  padding: 20px 16px;
  margin-bottom: 15px;

  .ant-typography {
    color: #37f;
    display: inline-block;
    margin: 0;
    line-height: 1;
  }

  a {
    color: #3d4966;
    margin-right: 30px;
  }
}
