.ant-tabs-tab {
  min-width: 21.7%;
}
.ant-tabs-tab .ant-tabs-tab-btn {
  width: 100%;
  text-align: center;
}
.ant-tabs-top {
  margin-bottom: 20px;
}
.venue-open-container {
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 24px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  .ant-card-body {
    height: '100%';
    padding: 15px !important;
    .venue-card-img {
      height: 150px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
